
<div>
  <div>
    <h1>
      Welcome, <%= @current_user.name %>!
    </h1>
    <h3 class="text-primary">
      <% if @current_user.food_databases_count == 0 %>
        You have no items. Add your first item!
      <% else %>
        You have <%= @current_user.food_databases_count %> items in your fridge.
      <% end %>
    </h3>
  </div>
</div>
<hr>
<div>
  <div>
    <h3>
      List of all food items
    </h3>
  </div>
</div>

<hr>


<div>
  <div>
    <table class="table table-striped">
      <tr>
        <th>
          Item name
        </th>

        <th>
          Food category
        </th>

        <th>
          Expiry date
        </th>

        <th>
          Status
        </th>
        <th>
          Expires in
        </th>

        <th>
          Details
        </th>
      </tr>

      <% @list_of_food_items.each do |a_food_item| %>
      <tr>
        
        <td>
          <%= a_food_item.item_name %>
        </td>

        <td>
          <%= a_food_item.food_category %>
        </td>

        <td>
          <%= a_food_item.expiry_date %>
        </td>
        
        <td>
          <% if a_food_item.expiry_date < Date.today %>
            <button type="button" class="btn btn-danger">Expired</button>
          <% else %>
            <button type="button" class="btn btn-success">Fresh</button>
          <% end %>
        </td>

        <td>
          <% if a_food_item.expiry_date < Date.today %>
            N/A
          <% else %>
            <% days_to_go = a_food_item.expiry_date - Date.today %>
            in <%= days_to_go.to_i %> days
          <% end %>
        </td>

        
        
        <td>
          <a href="/food_items/<%= a_food_item.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
<div>
  <div>
    <h3>
      Add a new food item
    </h3>

    <form action="/insert_food_item" method="post">
      
      <div class="form-group">
        <label for="item_name_box">
          Item name
        </label>

        <input type="text" id="item_name_box" name="query_item_name" class="form-control">
      </div>

      <div class="form-group">
        <label for="food_category_box">
          Food category
        </label>

        <input type="text" id="food_category_box" name="query_food_category" class="form-control">
      </div>

      <div class="form-group">
        <label for="expiry_date_box">
          Expiry date
        </label>
        <input type="date" id="expiry_date_box" name="query_expiry_date" class="form-control">
      </div>

      <div class="form-group">
        <button class="btn btn-primary">Add Food Item</button>
      </div>
    </form>
  </div>
  
</div>
